<table border="0" style="padding: 0; margin: 0;" style="border-collapse: collapse; border-spacing: 0;">

    <tr>
        <td rowspan="5"><img style="height: 200px;" src="https://app.geeks.sydney/store_email/gSvg.svg" alt="Geeks">
        </td>
        <td rowspan="1" style="vertical-align: top; width: 300px;">
            <p
                style="color: #404041;padding-top: 0px;margin-top: 0px;padding-bottom: 0px; margin-bottom: 0px;margin-left: 5px; font-size: 20px;font-weight: bold; padding-left: 20px;">
                Wahid
                Siddique</p>
            <p
                style="color: #404041;padding: 0px;margin: 0px; font-weight: 400;word-spacing: 0px;letter-spacing: 2px;margin-top: 1px; margin-left: 5px; font-size: 11px; padding-top: 3px; font-size: 13px;font-weight: 600;padding-left: 20px;">
                CHIEF TECH OFFICER</p>
        </td>
        <td rowspan="5" style="visibility: hidden;">
            s
        </td>
        <td rowspan="5"><img height="200px" src="https://app.geeks.sydney/store_email/Asset 2.svg" alt=""></td>
        <td rowspan="5" style="visibility: hidden;">
            sasdfasdf
        </td>
        <td rowspan="2" style="text-align: left;vertical-align: top;"><img style="height: 80px;"
                src="https://app.geeks.sydney/store_email/store_logo.png  " alt="Geeks"></td>
    </tr>



    <tr>
        <td style="vertical-align: middle;">
            <table>
                <tr>
                    <td width="10%" style="text-align: center;padding-left: 20px;">
                        <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/home.svg"
                            alt="Geeks">
                    </td>
                    <td width="90%">
                        <a
                            style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important;font-size: 15px;">
                            60 Argylen St, Camden 2570</a>
                    </td>
                </tr>
            </table>
            <!-- <a
            
                style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important;">
                <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/home.svg" alt="Geeks">
               <span> 60 Argylen St, Camden 2570</span></a> -->
        </td>

    </tr>

    <tr>
        <td style="vertical-align: middle;">
            <table>
                <tr>
                    <td width="10%" style="text-align: center; padding-left: 20px;">
                        <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/emailSvg.svg"
                            alt="Geeks">
                    </td>
                    <td width="90%">
                        <a
                            style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important;font-size: 16px;">
                            wahid@geekscrs.com.au</a>
                    </td>
                </tr>
            </table>
            <!-- <a
             
                 style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important;">
                 <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/home.svg" alt="Geeks">
                <span> 60 Argylen St, Camden 2570</span></a> -->
        </td>
        <td rowspan="2" style="vertical-align: top; text-align: right;">
            <table width="100%">
                <tr>
                    <td style="text-align: left;">
                        <a href="https://www.facebook.com/gcrsincamden/" target="_blank">
                            <img style="width:30px; height: 30px; "
                                src="https://app.geeks.sydney/store_email/facebookSvg.svg" alt="facebook">
                        </a>
                    </td>

                    <td style="text-align: center;">
                        <a href="https://www.facebook.com/gcrsincamden/" target="_blank">
                            <img style="width:30px; height:30px; "
                                src="https://app.geeks.sydney/store_email/twitter.svg" alt="twitter">
                        </a>
                    </td>
                    <td style="text-align: right;">
                        <a href="https://www.facebook.com/gcrsincamden/" target="_blank">
                            <img style="width:30px; height:30px; "
                                src="https://app.geeks.sydney/store_email/linkedin.svg" alt="linkedin">
                        </a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>
        <td style="vertical-align: bottom;">
            <table>
                <tr>
                    <td width="10%" style="text-align: center; padding-left: 20px;">
                        <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/web.svg"
                            alt="Geeks">
                    </td>
                    <td width="90%">
                        <a
                            style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important; font-size: 16px;">
                            www.geekscrs.com.au</a>
                    </td>
                </tr>
            </table>
            <!-- <a
             
                 style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important;">
                 <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/home.svg" alt="Geeks">
                <span> 60 Argylen St, Camden 2570</span></a> -->
        </td>
    </tr>

    <tr>
        <td style="vertical-align: middle;">
            <table>
                <tr>
                    <td width="10%" style="text-align: center; padding-left: 20px;">
                        <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/phone.svg"
                            alt="Geeks">
                    </td>
                    <td width="90%">
                        <span style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;">

                            <a href="tel:+02 7204 1424"
                                style="text-decoration: none!important; color: #404041!important;">
                                P: 02 7204
                                1424</a>
                            | <a href="tel:+ 0433 146 420"
                                style="text-decoration: none!important; color: #404041!important;">M:
                                0433 146
                                420</a>
                        </span>
                    </td>
                </tr>
            </table>
            <!-- <a
             
                 style="color: #404041;padding-bottom: 0px; margin-top: 0px; margin-bottom: 0px;text-decoration: none!important;">
                 <img style="width:20px; height:auto; " src="https://app.geeks.sydney/store_email/home.svg" alt="Geeks">
                <span> 60 Argylen St, Camden 2570</span></a> -->
        </td>
        <td style="text-align: left; vertical-align: bottom;"> <a href="https://store.geeks.sydney/"
                style="text-decoration: none!important;" target="_blank">
                <p
                    style="color: #404041 !important;padding-bottom: 0px;margin-bottom: 0px;margin-top: 0px; font-size: 20px; font-style: italic; font-weight: 600;">
                    www.geekscrs.com.au</p>
            </a></td>
    </tr>
    <tr>
        <td colspan="7">
            <img src="https://app.geeks.sydney/store_email/banner.gif" width="100%" alt="">


        </td>

    </tr>
    <tr>
        <td colspan="7">
            <span style="font-size: 13px; font-weight: 400;">
                The content of this email is confidential and intended for the recipient specified in message only. It
                is strictly forbidden to share any part of this message <br> with any third party, without a written
                consent of the sender. If you received this message by mistake, please reply to this message and follow
                with its <br> deletion, so that we can ensure such a mistake does not occur in the future.
            </span>



        </td>

    </tr>




</table>
<table>

</table>